  /* Swiper */
  html, body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper-container .mySwiper {
    background: #000;
    min-height: 34.94792vw;
    display: flex;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    transition-duration: 0ms;
  }

  .swiper-slide {
    font-size: 18px;
    color: #fff;
    padding: 40px 60px;
    opacity: 1;
    height: 400px;
    position: relative;
    background-size: cover;
    background-position: center;
    text-align: right;
  }

  .swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
  }

  .swiper-slide .subtitle {
    font-size: 21px;
  }

  .swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
    display: inline-block;
  }
  /* End Swiper */
  /* Sport list */
  .menu-item {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .menu-item .nav-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }

 .menu-item .nav-item .nav-link {
    color: black;
  }

 .menu-item .nav-item .nav-link.disabled {
    cursor: default;
 }

 .menu-item .nav-item .nav-link.disabled:hover {
    opacity: .3;
  }

 .menu-item .nav-item .nav-link.active {
    color: #151515;
    background-color: #eee;
    opacity: 1;
  }

 .menu-item .nav-item .nav-link {
    opacity: .3;
  }

 .menu-item .nav-item .nav-link:hover {
    opacity: 1;
  }
  /* End Sport list */
  /* Tab content */

  .page .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  .heading-component-title {
    margin-bottom: 0px;
  }

  .page .head .list-inline {
    margin-bottom: 0px;
  }

  .page .content {
    margin-top: 15px;
  }

  .page .content .table tbody img {
    width: 30px;
    height: 30px;
  }

  .page .content .table * {
    border-top: 0;
    border-bottom: 0;
  }

  .page .content .table tbody tr td {
    vertical-align: middle;
  }

  /* End Tab content */