
{{define "slide"}}
<div class="swiper-slide" style="background-image: url({{.Img}})">
  <div class="title" data-swiper-parallax="-300">{{.Title}}</div>
  <div class="subtitle" data-swiper-parallax="-200">{{.Subtitle}}</div>
  <div class="text" data-swiper-parallax="-100">
    <p>
      {{.Description}}
    </p>
    <button type="button" class="btn btn-outline-light">{{.Btn}}</button>
  </div>
</div>
{{end}}

{{define "menu_item"}}
<div class="menu-item" id="menu">
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#all"><span><img src="/img/sport-icons/soccer-cup.svg" alt="Все"><br></span>Все</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#hockey"><span><img src="/img/sport-icons/ice_hockey.svg" alt="Хоккей"><br></span>Хоккей</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#volleyball"><span><img src="/img/sport-icons/volleyball-ball.svg" alt="Волейбол"><br></span>Волейбол</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#table_tennis"><span><img src="/img/sport-icons/ping-pong.svg" alt="Настольный теннис"><br></span>Настольный теннис</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#field_hockey"><span><img src="/img/sport-icons/field-hockey.svg" alt="Хоккей на траве"><br></span>Хоккей на траве</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#basketball"><span><img src="/img/sport-icons/basketball-ball.svg" alt="Баскетбол"><br></span>Баскетбол</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" data-toggle="tab" href="#football"><span><img src="/img/sport-icons/football.svg" alt="Футбол"><br></span>Футбол</a>
    </li>
  </ul>
</div>
{{end}}

{{define "match"}}
<tr>
  <td><img src="/img/sport-icons/field-hockey.svg" alt=""></td>
  <td><a href="/match?id={{.Id}}">{{.Fc}} - {{.Sc}}</a></td>
  <td>{{.Total}}</td>
</tr>
{{end}}

{{define "sorevnovanie"}}
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th colspan="3">
        <a href="sorevnovanie?id={{.Id}}">
          {{.Name}}
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    {{range .Match}}
      {{template "match" .}}
    {{end}}
  </tbody>
</table>
{{end}}