{{template "index" .}}

{{define "title"}}
{{.Info.Name}}
{{end}}

{{define "main"}}
<div class="container">
  <div style="margin-top: 25px;" class="row gy-5">
    <div class="col-8">
      <div class="p-3 border bg-light">
        <div class="game-result">
          <div class="game-info game-info-classic">
            <p class="game-info-subtitle">{{.Info.Present}}</p>
            <h3 class="game-info-title">{{.Info.Name}}</h3>
            <div class="command-info-main">
              <div class="command-info-team">
                <img src="{{.Info.Logo}}" alt="" width="200" height="200">
                <div class="game-result-team-country">{{.Info.Sport.Name}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="p-3 border bg-light">
        <h5 class="text-center">Достижения</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Мето</th>
              <th>Соревнование</th>
            </tr>
          </thead>
          <tbody>
          {{range .Dost}}
            <tr>
              <td>{{.Plase}}</td>
              <td><a href="/sorevnovanie?id={{.Sorev.Id}}">{{.Sorev.Name}}</a></td>
            </tr>
          {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div style="margin-top: 25px;" class="row gy-5">
    <div class="col-6">
      <div class="p-3 border bg-light">
        <h3 style="margin-bottom: 20px;">Результаты</h3>
        {{range .Results}}
        <div class="game-results game-result-classic" onclick="location.href='/match?id={{.Id}}';">
          <div class="game-result-main">
            <div class="game-result-team game-result-team-first">
              <figure class="game-result-team-figure game-result-team-figure-big"><img src="{{.Fcommand.Logo}}" alt="" width="70" height="70">
              </figure>
              <div class="game-result-team-name">{{.Fcommand.Name}}</div>
              <div class="game-result-team-country">{{.Fcommand.Present}}</div>
            </div>
            <div class="game-result-middle">
              <h3>{{.Fscore}}:{{.Sscore}}</h3>
            </div>
            <div class="game-result-team game-result-team-second">
              <figure class="game-result-team-figure game-result-team-figure-big"><img src="{{.Scommand.Logo}}" alt="" width="70" height="70">
              </figure>
              <div class="game-result-team-name">{{.Scommand.Name}}</div>
              <div class="game-result-team-country">{{.Scommand.Present}}</div>
            </div>
          </div>
          <div class="game-result-footer">
            <ul class="game-result-details">
              <li><a href="/sorevnovanie?id={{.Sorevnovanie.Id}}">{{.Sorevnovanie.Name}}</a></li>
              <li>{{.Data}}</li>
            </ul>
          </div>
        </div>
        {{end}}
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">
        <h3 style="margin-bottom: 20px;">Календарь</h3>
        {{range .Calendar}}
        <div class="game-results game-result-classic" onclick="location.href='/match?id={{.Id}}';">
          <div class="game-result-main">
            <div class="game-result-team game-result-team-first">
              <figure class="game-result-team-figure game-result-team-figure-big"><img src="{{.Fcommand.Logo}}" alt="" width="70" height="70">
              </figure>
              <div class="game-result-team-name">{{.Fcommand.Name}}</div>
              <div class="game-result-team-country">{{.Fcommand.Present}}</div>
            </div>
            <div class="game-result-team game-result-team-second">
              <figure class="game-result-team-figure game-result-team-figure-big"><img src="{{.Scommand.Logo}}" alt="" width="70" height="70">
              </figure>
              <div class="game-result-team-name">{{.Scommand.Name}}</div>
              <div class="game-result-team-country">{{.Scommand.Present}}</div>
            </div>
          </div>
          <div class="game-result-footer">
            <ul class="game-result-details">
              <li><a href="/sorevnovanie?id={{.Sorevnovanie.Id}}">{{.Sorevnovanie.Name}}</a></li>
              <li>{{.Data}}</li>
            </ul>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</div>
{{end}}