{{template "index" .}}

{{define "title"}}
  Заголовок
{{end}}

{{define "slider"}}
<div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper-container mySwiper">
  <div class="swiper-wrapper">
    {{template "slide" .}}
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>
{{end}}

{{define "all"}}
Все записи
{{end}}

{{define "hockey"}}
Хоккей
{{end}}

{{define "volleyball"}}
Волейбол
{{end}}

{{define "table_tennis"}}
Настольный теннис
{{end}}

{{define "field_hockey"}}
<div class="page">
  <div class="head">
    <h2 class="heading-component-title">Хоккей на траве (3)</h2>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger active" href="#">Live</a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger" href="#">Календарь</a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger" href="#">История</a>
        </li>
      </ul>
  </div>
  <div class="content">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th colspan="3">
            <a href="#collapseExample">
              Кубок России
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        {{template "match" .}}
      </tbody>
    </table>
  </div>
</div>
{{end}}

{{define "basketball"}}
Баскетбол
{{end}}

{{define "football"}}
Футбол
{{end}}