{{template "index" .}}

{{define "title"}}
Главная
{{end}}

{{define "slider"}}
<div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper-container mySwiper">
  <div class="swiper-wrapper">
    {{range .Slider}}
      {{template "slide" .}}
    {{end}}
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>
{{end}}

{{define "hockey"}}
<div class="page">
  <div class="head">
    <h2 class="heading-component-title">Хоккей</h2>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger active" href="#">Live</a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger" href="#">Календарь</a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger" href="#">История</a>
        </li>
      </ul>
  </div>
  <div class="content">
    {{range .Hockey}}
      {{template "sorevnovanie" .}}
    {{end}}
  </div>
</div>
{{end}}

{{define "volleyball"}}
<div class="page">
  <div class="head">
    <h2 class="heading-component-title">Волейбол</h2>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger active" href="#">Live</a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger" href="#">Календарь</a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger" href="#">История</a>
        </li>
      </ul>
  </div>
  <div class="content">
    {{range .Volleyball}}
      {{template "sorevnovanie" .}}
    {{end}}
  </div>
</div>
{{end}}

{{define "table_tennis"}}
<div class="page">
  <div class="head">
    <h2 class="heading-component-title">Настольный теннис</h2>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger active" href="#">Live</a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger" href="#">Календарь</a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger" href="#">История</a>
        </li>
      </ul>
  </div>
  <div class="content">
    {{range .Table_tennis}}
      {{template "sorevnovanie" .}}
    {{end}}
  </div>
</div>
{{end}}

{{define "field_hockey"}}
<div class="page">
  <div class="head">
    <h2 class="heading-component-title">Хоккей на траве</h2>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger active" href="#field_hockey">Live</a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger" href="field_hockey/calendar">Календарь</a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger" href="field_hockey/history">История</a>
        </li>
      </ul>
  </div>
  <div class="content">
    {{range .Field_hockey}}
      {{template "sorevnovanie" .}}
    {{end}}
  </div>
</div>
{{end}}

{{define "basketball"}}
<div class="page">
  <div class="head">
    <h2 class="heading-component-title">Баскетбол</h2>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger active" href="#">Live</a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger" href="#">Календарь</a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger" href="#">История</a>
        </li>
      </ul>
  </div>
  <div class="content">
    {{range .Basketball}}
      {{template "sorevnovanie" .}}
    {{end}}
  </div>
</div>
{{end}}

{{define "football"}}
<div class="page">
  <div class="head">
    <h2 class="heading-component-title">Футбол</h2>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger active" href="#">Live</a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger" href="#">Календарь</a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-sm btn-outline-danger" href="#">История</a>
        </li>
      </ul>
  </div>
  <div class="content">
    {{range .Football}}
      {{template "sorevnovanie" .}}
    {{end}}
  </div>
</div>
{{end}}

{{define "main"}}
{{template "slider" .}}
<div class="container">
{{template "menu_item" .}}
  <div class="tab-content">
    <div class="tab-pane fade show active" id="all">
        {{template "hockey" .}}
        {{template "volleyball" .}}
        {{template "table_tennis" .}}
        {{template "field_hockey" .}}
        {{template "basketball" .}}
        {{template "football" .}}
    </div>
    <div class="tab-pane fade" id="hockey">
      {{template "hockey" .}}
    </div>
    <div class="tab-pane fade" id="volleyball">
      {{template "volleyball" .}}
    </div>
    <div class="tab-pane fade" id="table_tennis">
      {{template "table_tennis" .}}
    </div>
    <div class="tab-pane fade" id="field_hockey">
      {{template "field_hockey" .}}
    </div>
    <div class="tab-pane fade" id="basketball">
      {{template "basketball" .}}
    </div>
    <div class="tab-pane fade" id="football">
      {{template "football" .}}
    </div>
  </div>
</div>
{{end}}