{{template "index" .}}

{{define "title"}}
  {{.Match.Fcommand.Name}} - {{.Match.Scommand.Name}}
{{end}}

{{define "players"}}
<tr>
  <td>{{.Number}}</td>
  <td>{{.Person.Fio}}</td>
  <td>{{.Position}}</td>
</tr>
{{end}}

{{define "main"}}
<div class="container">
  <div class="game-result">
    <div class="game-info game-info-classic">
      <p class="game-info-subtitle">{{.Match.Sorevnovanie.City.Name}} / {{.Match.Sorevnovanie.Stadium.Name}} / {{.Match.Data}}</p>
      <a href="/sorevnovanie?id={{.Match.Sorevnovanie.Id}}" class="game-info-title">{{.Match.Sorevnovanie.Name}}</a>
      <div class="game-info-main">
        <div class="game-info-team game-info-team-first">
          <img src="{{.Match.Fcommand.Logo}}" alt="" width="100" height="100">
          <div class="game-result-team-name">
            <a href="/commands?id={{.Match.Fcommand.Id}}">{{.Match.Fcommand.Name}}</a>
          </div>
          <div class="game-result-team-country">{{.Match.Fcommand.Present}}</div>
        </div>
        <div class="game-info-middle">
          <div class="game-result-score-wrap">
            <div class="game-info-score">{{.Match.Fscore}}:{{.Match.Sscore}}</div>
          </div>
        </div>
        <div class="game-info-team game-info-team-second">
          <img src="{{.Match.Scommand.Logo}}" alt="" width="100" height="100">
          <div class="game-result-team-name">
            <a href="/commands?id={{.Match.Scommand.Id}}">{{.Match.Scommand.Name}}</a>
          </div>
          <div class="game-result-team-country">{{.Match.Scommand.Present}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row gy-5">
    <div class="col-6">
      <div class="p-3 border bg-light">
        <table class="table">
          <thead>
            <tr>
              <th><img src="{{.Match.Fcommand.Logo}}" alt="" width="50px" height="50px"></th>
              <th style="font-size: 15px;" colspan="2">{{.Match.Fcommand.Name}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Номер</td>
              <td>Имя</td>
              <td>Позиция</td>
            </tr>
            {{range .Fplayers}}
              {{template "players" .}}
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">
        <table class="table">
          <thead>
            <tr>
              <th><img src="{{.Match.Scommand.Logo}}" alt="" width="50px" height="50px"></th>
              <th style="font-size: 15px;" colspan="2">{{.Match.Scommand.Name}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Номер</td>
              <td>Имя</td>
              <td>Позиция</td>
            </tr>
            {{range .Splayers}}
              {{template "players" .}}
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{end}}