{{template "index" .}}

{{define "title"}}
Личный кабинет
{{end}}

{{define "main"}}
<div id="myData" class="container">
  <div style="margin-top: 25px;" class="row gy-5">
    <div class="col-8">
      <div class="p-3 border bg-light">
        <form action="/user/" method="post" enctype="multipart/form-data">
          <input type="hidden" name="Form" value="Profile">
          <h1 style="text-align: center; margin-bottom: 20px;">{{.Data.Command.Name}}</h1>
          <div style="margin-top: 0px; margin-bottom: 25px;" class="command-info-main">
            <div class="command-info-team text-center">
              <img src="{{.Data.Command.Logo}}" alt="" width="200" height="200">
            </div>
          </div>
          <h5>Логин: {{.Data.Login}}</h5>
          <h5>Вид спорта: {{.Data.Command.Sport.Name}}</h5>
          <ul class="list-inline">
            <li class="list-inline-item">
              <h5>Имя:</h5>
            </li>
            <li class="list-inline-item">
              <h5 :hidden="click">${name}$</h5>
            </li>
            <li class="list-inline-item">
              <input :hidden="!click" v-model="name" type="text" name="newName" value="{{.Data.Command.Name}}">
            </li>
            <li class="list-inline-item">
              <button v-on:click="clickFunc" type="button" class="btn btn-outline-success">${btnText}$</button>
            </li>
          </ul>
          <div style="margin-top: 10px;" class="form-control">
            <input v-on:change="previewFiles" type="file" name="newFile" id="file" class="input-file" accept="image/jpeg,image/png">
            <label v-bind:class="file" for="file" class="btn btn-tertiary js-labelFile">
              <i class="icon fa fa-check"></i>
              <span class="js-fileName">Изменить логотип</span>
            </label>      
          </div>
          <button style="margin-top: 10px;" type="submit" class="btn btn-success btn-block">Сохранить изменения</button>
        </form>
      </div>
    </div>
    <div class="col-4">
      <div class="p-3 border bg-light">
        <h5 class="text-center">Ваши достижения</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Меcто</th>
              <th>Соревнование</th>
            </tr>
          </thead>
          <tbody>
          {{range .Dost}}
            <tr>
              <td>{{.Plase}}</td>
              <td><a href="/sorevnovanie?id={{.Sorev.Id}}">{{.Sorev.Name}}</a></td>
            </tr>
          {{end}}
          </tbody>
        </table>
        <form name="DoctijeniaForm" action="/user/" method="post" enctype="multipart/form-data">
          <input type="hidden" name="Form" value="Dost">
          <div v-show="!visible">
            <select name="place" style="margin-left: 15px; margin-right: 70px;">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
            <select name="sorev">
              {{range .Sorev}}
                <option value="{{.Id}}">{{.Name}}</option>
              {{end}}
            </select>
          </div>
          <div id="input0"></div>
          <button v-show="visible" v-on:click="visible = !visible" type="button" style="margin-top: 25px;" class="btn btn-outline-success btn-block">Добавить достижение</button>
          <button type="submit" style="margin-top: 15px;" class="btn btn-success btn-block">Сохранить</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{end}}