{{template "index" .}}

{{define "title"}}
Личный кабинет
{{end}}

{{define "main"}}
<div id="myData" class="container">
  <div style="margin-top: 25px;" class="row gy-5">
    <div class="col">
      <div class="p-3 border bg-light">
        <form action="/user/" method="post" enctype="multipart/form-data">
          <h1 style="text-align: center; margin-bottom: 20px;"><span><img class="img-thumbnail" style="margin-right: 10px;" width="100px" height="100px" src="/img/users/I.jpg"></span>Иван Сергеев</h1>
          <ul class="list-inline">
            <li class="list-inline-item">
              <h5>Логин:</h5>
            </li>
            <li class="list-inline-item">
              <h5>@Sergeev</h5>
            </li>
          </ul>
          <ul class="list-inline">
            <li class="list-inline-item">
              <h5>Имя:</h5>
            </li>
            <li class="list-inline-item">
              <h5 :hidden="click">${name}$</h5>
            </li>
            <li class="list-inline-item">
              <input :hidden="!click" v-model="name" type="text" name="newName" value="Иван Сергеев">
            </li>
            <li class="list-inline-item">
              <button v-on:click="clickFunc" type="button" class="btn btn-outline-success">${btnText}$</button>
            </li>
          </ul>
          <ul class="list-inline">
            <li class="list-inline-item">
              <div style="margin-top: 10px;" class="form-control">
                <input v-on:change="previewFiles" type="file" name="newFile" id="file" class="input-file" accept="image/jpeg,image/png">
                <label v-bind:class="file" for="file" class="btn btn-tertiary js-labelFile">
                  <i class="icon fa fa-check"></i>
                  <span class="js-fileName">Изменить логотип</span>
                </label>      
              </div>
            </li>
          </ul>
          <button style="margin-top: 10px;" type="submit" class="btn btn-success btn-block">Сохранить изменения</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{end}}