{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{template "title" .}}</title>

  <link rel="icon" href="/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/swiper-bundle.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/img/logo-default-213x82.png" width="105" height="40" alt="" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Главная</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Календарь
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/calendar?id=1">Хоккей</a>
              <a class="dropdown-item" href="/calendar?id=2">Волейбол</a>
              <a class="dropdown-item" href="/calendar?id=3">Настольный теннис</a>
              <a class="dropdown-item" href="/calendar?id=4">Хоккей на траве</a>
              <a class="dropdown-item" href="/calendar?id=5">Баскетбол</a>
              <a class="dropdown-item" href="/calendar?id=6">Футбол</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              История
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/history?id=1">Хоккей</a>
              <a class="dropdown-item" href="/history?id=2">Волейбол</a>
              <a class="dropdown-item" href="/history?id=3">Настольный теннис</a>
              <a class="dropdown-item" href="/history?id=4">Хоккей на траве</a>
              <a class="dropdown-item" href="/history?id=5">Баскетбол</a>
              <a class="dropdown-item" href="/history?id=6">Футбол</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Контакты</a>
          </li>
        </ul>
        <div id="auth" class="d-flex align-items-center">
          
          <li v-if="auth != null" class="list-inline-item"><a class="btn btn-success btn-sm" href="/user">Личный кабинет</a></li>
          <li v-if="auth != null" class="list-inline-item"><a class="btn btn-outline-success btn-sm" href="/user/logout">Выйти</a></li>

          <li v-if="auth == null" class="list-inline-item"><a class="btn btn-success btn-sm" href="/register">Регистрация</a></li>
          <li v-if="auth == null" class="list-inline-item"><a class="btn btn-outline-success btn-sm" href="/login">Войти</a></li>
          
        </div>
      </div>
    </div>
  </nav>

  {{template "main" .}}
  
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/vue.js"></script>
  <script src="/js/swiper-bundle.js"></script>
  <script src="/js/main.js" type="text/javascript"></script>
</body>
</html>
{{end}}